@import url('https://fonts.googleapis.com/css?family=Raleway:300italic,700italic,300,700');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;
     
}
.weather img{
    margin-left: 100px;
            
}


div.results{
    text-align: right;
}

div.searchbar{
     float: right;
    margin: 5px 0 10px 10px;
   
}

div.breadcrumb{
    float: left;
    margin: 30px 0 10px 10px;
}

div.advert{
  width: 188px;
    margin: 0 auto;
}

img{
    float:left;
        
}
div.paragraph p{
    width:700px;
    float:left;
    height:215px;
    padding: 20px 10px 5px 15px;
    z-index: 1;
}
div.profileparagraph{
     width:400px;
    float:left;
    height:215px;
    padding: 20px 10px 5px 15px;
    z-index: 1;
}
div.secondNav{
    float: right;
}

div.SportsImg{
   height: 170px;
    margin-bottom: 20px;
    background:  url(../img/banner_new_sport.jpg) no-repeat center bottom;
    position: relative; 
}
div.technology{
    height: 140px;
    background:  url(../img/news.png) no-repeat bottom;
    position: relative;  
}
div.sitemap{
  position: absolute;
    right: 0px;
    background:  url(../img/sitemap.png) no-repeat top;
    height:720px;
    width: 170px;
    padding: 10px;  
}
div.sign{
    position: absolute;
    right: 0px;
    background:  url(../img/edit.png) no-repeat top;
    height:490px;
    width: 70px;
    padding: 10px;
}
div.profilead{
    position: absolute;
    right: 0px;
    background:  url(../img/profilead.jpg) no-repeat top;
    height:360px;
    width: 290px;
    padding: 10px;
    margin-top: -15px;
}
div.addad{
     position: absolute;
    right: 0px;
    background:  url(../img/profilead.jpg) no-repeat top;
    height:400px;
    width: 290px;
    padding: 10px;
   
}
div.signin{
    height: 190px;
    background:  url(../img/banner-lp.jpg) no-repeat bottom;
    position: relative;
}
div.cocacola{
    height: 190px;
    background:  url(../img/news.png) no-repeat bottom;
    position: relative;  
}
div.BootsArticle{
    height: 230px;
    background:  url(../img/BootsAddArticle.jpg) no-repeat left bottom;
    position: relative;
}
div.Boots{
     height: 230px;
    background:  url(../img/BootsAddArticle.jpg) no-repeat center bottom;
    position: relative;
}
div.ambulance{
   height: 130px;
    background:  url(../img/AddEditDeleteBanner.png) no-repeat center bottom;
    position: relative; 
}
div.CarArticle{
    height: 130px;
        margin-top: 230px;
    background:  url(../img/AddEditDeleteBanner.png) no-repeat center bottom;
    position: relative;
}
div.proArt{
   height: 130px;
    background:  url(../img/proArt.png) no-repeat left bottom;
    position: relative; 
}
div.topstory{
     height: 90px;
    background:  url(../img/proArt.png) no-repeat center bottom;
    position: relative; 
    margin-bottom: 20px;
   
}
div.SnapArticle{
   height: 130px;
    background:  url(../img/snapparcel.png) no-repeat bottom;
    position: relative;
    
}
div.ConArt{
   height: 130px;
    background:  url(../img/proArt.png) no-repeat bottom;
    position: relative;
    
}
div.Contact{
     height: 130px;
    background:  url(../img/contactus.png) no-repeat left bottom;
    position: relative;
}
div.delete{
     height: 130px;
    background:  url(../img/AddEditDeleteBanner.png) no-repeat center bottom;
    position: relative;
}
div.edit{
    position: absolute;
    right: 0px;
    background:  url(../img/edit.png) no-repeat top;
    height:560px;
    width: 70px;
    padding: 10px;
}
div.editForm{
    width: 50%;
    display: inline-block;
}
div.editProfile{
    height: 130px;
    background:  url(../img/EditProfileAd.png) no-repeat center;
    position: relative;
}
div.index{
    height: 130px;
    background:  url(../img/indexAd.png) no-repeat center bottom;
    position: relative; 
}
div.MadonMon{
    height: 90px;
    background:  url(../img/MadiganonMonday.png) no-repeat center bottom;
    position: relative; 
    margin-bottom: 50px;
}
div.Munster{
    height: 190px;
    background:  url(../img/journal_munster_banner_441.jpg) no-repeat left bottom;
    position: relative; 
    margin-bottom: 50px;
}
div.searchResults{
    height: 190px;
    background:  url(../img/journal_munster_banner_441.jpg) no-repeat center bottom;
    position: relative; 
    margin-bottom: 50px;
}

div.paragraphs p {
    width:900px;
    float:left;
    height:100px;
    padding: 20px 10px 5px 15px;
}
ol{
    padding-left: 0;
    padding: 10px 5px 2px 5px;
    float: left;
}

div.addEditDelete{
   
    padding-right: 20px;
}
div.addEditDelete img{
    margin-left: 10px;
}

#page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
section.main{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    
}
section.main img{
    padding-right: 20px;
    padding-bottom: 10px;
}
section.main aside {
    width:33%;
    float:left;
    text-align: center;
}
section.main .content{
    margin:15px;
    background: no-repeat center top;
    background-size: 75px 75px;
    padding-top:  85px;
}

section.main aside h3 a {
    color: #000;
    text-decoration: none;
}
section.main aside h3 a:hover{
    text-decoration: underline;
}
section.main aside .content.munster{
    background-image: url(../img/munster.svg);
    margin-top: 46px;
}
section.main aside .content.ad{
    background-image: url(../img/vm.png);
    margin-top: 60px;
    width: 390px;
    height: 150px;
    
}

/* text */
h1 {
    margin: 0 0 1em 0;
    font-size: 2.8em;
    font-weight: 700;
}
h2 {
    margin: 0 0 1em 0;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1.1em;
}
h3 {
    margin: 0 0 1em 0;
    font-size: 1.3em;
    font-weight: 700;
}
h4 {
    margin: 0 0 1em 0;
    font-size: 1em;
    font-weight: 700;
}
p{
    margin: 0 0 1em 0;
}

a {
    color: #000;
}
a:visited{
    color: #696969;
}
div.images {
    text-align: center;
}


/* Header */
header {
    height: 100px;
    position: relative;
}

form {
 margin: 0 auto;
 margin-top: 20px;
}
  
input[type=text],
input[type=password]{
 color: #777;
 padding-left: 10px;
 margin: 10px;
 margin-top: 12px;
 margin-left: 18px;
 width: 290px;
 height: 35px;
 border: 1px solid #c7d0d2;
 border-radius: 2px;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
 
}
input[type=date] {
 color: #777;
 padding-left: 10px;
 margin: 10px;
 margin-top: 12px;
 margin-left: 18px;
 width: 290px;
 height: 35px;
 border: 1px solid #c7d0d2;
 border-radius: 2px;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}
 
input[type=text]:hover,
input[type=password]:hover {
 border: 1px solid #b6bfc0;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
 
input[type=text]:focus,
input[type=password]:focus {
 border: 1px solid #a8c9e4;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
div.ad{
    
}

header a.logo {
    z-index: 1;
    position: absolute;
    display: block;
    width: 160px;
    height: 66px;
    background: url(../img/newsclick.png) no-repeat 0 0;
    background-size:contain;
    top:15px;
    left: 20px;   
}
header a.logo span{
    display: none;
}
div.signinform{
    margin: 0 auto; 
width:250px;
}
fieldset{
    width:50%;
    clear: both;
}
div.ad{
    float: right;
    margin-top: -20%;
    background-image: url(../img/o-NEWSPAPER-ADVERT-570.jpg);
}



/*Section all*/
section{
    padding: 0 30px;
}
section::after{
    content:'';
    display: block;
    clear: both;
}

/*Section main*/
section.main{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    
}





/*Footer*/
footer{
    font-size: .8em;
    margin: 40px;
    color: #999;
}
footer .content{
    display: inline;
}
footer a{
    margin-left: 30px;
    color: #777;
}
footer a:visited{
    margin-left: 30px;
    color: #777;
}
footer a:hover{
    margin-left: 30px;
    color: #777;
}

/*Nav*/
nav{
    background-color: #36B2B4;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 50px 0 0 0;
    width: 100%;
    font-size: 14px;
    
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0px;
}
nav::after{
    content: '';
    display: block;
    clear: both;
}
nav ul li a{
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
}
nav ul li a:visit{
    color: #fff;
}
nav ul li a:hover{
    background-color: #39c4c6;
}
nav ul li:hover {
    background-color: #39c4c6;
}
nav ul li:hover>ul{
    display: block;
    
}

nav ul ul {
    position: absolute;
    top: 100%;
    background-color: #42ced1;
    display: none;
}
nav ul ul li{
    position: relative;
}
nav ul ul ul{
    left: 100%;
    top:0px;
}

/* Top-level */
nav > ul {
    padding-left: 200px;
}
nav > ul > li{
    float: left; 
}
nav > ul > li > a{
    width: auto;
    padding: 10px 20px 15px 20px;
}
nav a[aria-haspopup="true"]::after {
    content::'';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 16px;
    right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
}
nav < ul >li > a[aria-haspopup="true"]::after{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    left:20px;
    right: auto;
    bottom: 6px;
    top:auto;
}

/*Media queries */
@media screen and (max-width:1200px){
    h1{
        font-size: 2.4em;
    }
        
        /*Header*/
        header div.hero{
            left: 56%;
        }
        header div.hero h1{
            margin-bottom: 20px;
        }
    .weather img{
    margin-left: 100px;
}
    div.SportsImg{
   height: 170px;
    margin-bottom: 20px;
    background:  url(../img/banner_new_sport.jpg) no-repeat center bottom;
    position: relative; 
}
div.technology{
    height: 140px;
    background:  url(../img/news.png) no-repeat bottom;
    position: relative;  
}
div.sitemap{
  position: absolute;
    right: 0px;
    background:  url(../img/sitemap.png) no-repeat top;
    height:720px;
    width: 170px;
    padding: 10px;  
}
    div.searchResults{
    height: 190px;
    background:  url(../img/journal_munster_banner_441.jpg) no-repeat center bottom;
    position: relative; 
    margin-bottom: 50px;
}
div.sign{
    position: absolute;
    right: 0px;
    background:  url(../img/edit.png) no-repeat top;
    height:490px;
    width: 70px;
    padding: 10px;
}
div.profilead{
    position: absolute;
    right: 0px;
    background:  url(../img/profilead.jpg) no-repeat top;
    height:360px;
    width: 290px;
    padding: 10px;
    margin-top: -15px;
}
div.addad{
     position: absolute;
    right: 0px;
    background:  url(../img/profilead.jpg) no-repeat top;
    height:400px;
    width: 290px;
    padding: 10px;
   
}
div.signin{
    height: 190px;
    background:  url(../img/banner-lp.jpg) no-repeat bottom;
    position: relative;
}
div.cocacola{
    height: 190px;
    background:  url(../img/news.png) no-repeat bottom;
    position: relative;  
}
div.BootsArticle{
    height: 230px;
    background:  url(../img/BootsAddArticle.jpg) no-repeat left bottom;
    position: relative;
}
div.Boots{
     height: 230px;
    background:  url(../img/BootsAddArticle.jpg) no-repeat center bottom;
    position: relative;
}
div.ambulance{
   height: 130px;
    background:  url(../img/AddEditDeleteBanner.png) no-repeat center bottom;
    position: relative; 
}
div.CarArticle{
    height: 130px;
        margin-top: 230px;
    background:  url(../img/AddEditDeleteBanner.png) no-repeat center bottom;
    position: relative;
}
div.proArt{
   height: 130px;
    background:  url(../img/proArt.png) no-repeat left bottom;
    position: relative; 
}
div.topstory{
     height: 90px;
    background:  url(../img/proArt.png) no-repeat center bottom;
    position: relative; 
    margin-bottom: 20px;
   
}
div.SnapArticle{
   height: 130px;
    background:  url(../img/snapparcel.png) no-repeat bottom;
    position: relative;
    
}
div.ConArt{
   height: 130px;
    background:  url(../img/proArt.png) no-repeat bottom;
    position: relative;
    
}
div.Contact{
     height: 130px;
    background:  url(../img/contactus.png) no-repeat left bottom;
    position: relative;
}
div.delete{
     height: 130px;
    background:  url(../img/AddEditDeleteBanner.png) no-repeat center bottom;
    position: relative;
}
div.edit{
    position: absolute;
    right: 0px;
    background:  url(../img/edit.png) no-repeat top;
    height:560px;
    width: 70px;
    padding: 10px;
}
div.editForm{
    width: 50%;
    display: inline-block;
}
div.editProfile{
    height: 130px;
    background:  url(../img/EditProfileAd.png) no-repeat center;
    position: relative;
}
div.index{
    height: 130px;
    background:  url(../img/indexAd.png) no-repeat center bottom;
    position: relative; 
}
div.MadonMon{
    height: 90px;
    background:  url(../img/MadiganonMonday.png) no-repeat center bottom;
    position: relative; 
    margin-bottom: 50px;
}
div.Munster{
    height: 190px;
    background:  url(../img/journal_munster_banner_441.jpg) no-repeat center bottom;
    position: relative; 
    margin-bottom: 50px;
}

    
    }


@media screen and (max-width:750px){
    h1{
        font-size: 1.8em;
    }
    h2{
        font-size: 1.4em;
    }
    h3{
        font-size: 1.1em;
    }
    a.btn{
        font-size: 1em;
    }
    
     /*Header*/
     header a.logo{
            width: 145px;
            height: 60px
        }
    header div.herp{
        top:140px;
        left:48%;
    }
    
    /* Section Main */
    section.main{
        margin-top:10px;
        margin-bottom: 10px;
    }
    .weather img{
    margin-left: 40px;

   
}
    
  
    div.signin{
        position: absolute;
    right: 0px;
    margin-top:-20px;
    margin-right: 20px;
    background:  url(../img/signin750.png) no-repeat top;
    height:250px;
    width: 200px;
    padding: 8px;
    }
    div.sitemap{
        height: 401px;
        background-image: url(../img/sitemap.png);
        background-position: center bottom;
    }
    div.cocacola{
        height: 101px;
        background-image: url(../img/news750.png);
        background-position: center bottom;
    }
     div.SportsImg{
        height: 101px;
        background-image: url(../img/banner_new_sport_750.png);
        background-position: center bottom;
    }
    div.Munster{
        height: 91px;
        background-image: url(../img/journal_munster_banner_750.png);
        background-position: center bottom;
    }
    div.searchResults{
        height: 160px;
        background-image: url(../img/journal_munster_banner_750.png);
        background-position: center bottom;
    }
    div.Boots{
        height: 350px;
        background-image: url(../img/BootsAddArticle750.jpg);
        background-position: left top;
    }
    div.BootsArticle{
        height: 350px;
        background-image: url(../img/BootsAddArticle750.jpg);
        background-position: left top;
    }
    div.CarArticle{
        height: 550px;
        background-image: url(../img/AddEditDeleteBanner725.jpg);
        background-position: left bottom;
    }
    div.ambulance{
        height: 95px;
        background-image: url(../img/AddEditDeleteBanner725.jpg);
        background-position: left bottom;
    }
    div.proArt{
       height: 95px;
        background-image: url(../img/proArt750.jpg);
        background-position: left bottom;  
    }
    div.topstory{
         height: 195px;
        background-image: url(../img/proArt750.jpg);
        background-position: left bottom;  
    }
   div.SnapArticle{
       height: 95px;
        background-image: url(../img/snapparcel700.png);
        background-position: left bottom;  
    }
    div.ConArt{
        height: 95px;
        background-image: url(../img/proArt750.jpg);
        background-position: left bottom;  
    }
    div.Contact{
        height: 135px;
        background-image: url(../img/contactus750.png);
        background-position: left bottom;  
    }
    div.delete{
         height: 150px;
        background-image: url(../img/AddEditDeleteBanner725.jpg);
        background-position: left bottom;
    }
    div.edit{
    position: absolute;
    right: 0px;
    margin-top: 30px;
    margin-right: 20px;
    background:  url(../img/edit.png) no-repeat top;
    height:520px;
    width: 70px;
    padding: 8px;
    }
    div.profilead{
    position: absolute;
    right: 0px;
    margin-top: 10px;
    margin-right: 20px;
    background:  url(../img/profilead.jpg) no-repeat top;
    height:400px;
    width: 270px;
    padding: 8px;
    }
    div.addad{
        position: absolute;
    right: 0px;
    margin-top: 30px;
    margin-right: 20px;
    background:  url(../img/profilead.jpg) no-repeat top;
    height:400px;
    width: 270px;
    padding: 8px;
    }
    div.sign{
         position: absolute;
    right: 0px;
    margin-top: 10px;
    margin-right: 20px;
    background:  url(../img/edit.png) no-repeat top;
    height:480px;
    width: 70px;
    padding: 8px;
    }
    div.editProfile{
        height: 150px;
        background-image: url(../img/EditProfileAd750.png);
        background-position: left bottom;
    }
    div.index{
        background-image: url(../img/index750.png);
        background-position: center bottom;
        height:90px;
    }
    div.MadonMon{
       background-image: url(../img/MadiganonMonday.png);
        background-position: center bottom;
        height:90px; 
    }
    
    /*Nav */
    nav{
        padding-top: 80px;
    }
    nav >ul {
        padding-left: 10px;
    }
}
@media screen and (max-width:400px){
    h1{
        font-size: 1em;
    }
    h3{
        margin-bottom: 0px;
    }
    a.btn{
        font-size: .9em;
    }
    
    /*Header*/
    header{
        height: 111px;
        background-position: left top;
    
    }
    .weather img{
    margin-left: 50px;
}
    header a.logo{
        width: 100%;
        height: 66px;
        left: 0px;
        top: 0px;
        background-color: rgba(0,0,0,.65);
        background-size: 112px 46px;
        background-position: 20px center;
    }
    header div.hero{
        width: 300px;
        top: 85px;
        left: 130px;
    }
         header div.hero h1{
        margin-bottom: 10px;
    }
    header a.logo{
        height: 36px;
        background: rgba(0,0,0,.65) url(../img/logo_small.png) no-repeat center center;
        background-size: 126px 17px;
    
    }
     header div.hero{
        width: 100%;
        left: 0px;
        top: 46px;
        text-align: center;
    }
    div.paragraph p{
        width:300px;
       float:left;
        height:215px;
        padding: 20px 10px 5px 15px;
        z-index: 1
    }
    div.profileparagraph{
        width:300px;
       float:left;
        height:215px;
        padding: 20px 10px 5px 15px;
        z-index: 1
    }
    
   /* section-main */
    section.main aside{
        width: 100%;
        float: none;
        text-align: left;
    }
    section.main p{
        padding-left: 10px;
    }
    section.main aside div.content{
        margin: 8px 20px 8px 0;
        padding: 5px 0px 30px 95px;
        background-size: 50px 50px;
        background-position: 20px 5px;
    }
    div.technology{
        height: 181px;
        background-image: url(../img/news400.png);
        background-position: left top;
    }
    div.profilead{
        height: 181px;
        background-image: url();
        background-position: left top;
    }
    div.cocacola{
        background-size: 350px 100px;        
        height: 181px;
        background-image: url(../img/news400.png);
        background-position: center top;
        
    }
    div.Boots{
        height: 111px;
        background-image: url(../img/BootsAddArticle400.jpg);
        background-position: left top;
    }
    div.BootsArticle{
        height: 111px;
        background-image: url(../img/BootsAddArticle400.jpg);
        background-position: left top;
    }
    
    div.ambulance{
        height: 111px;
        background-image: url(../img/AddEditDeleteBanner425.jpg);
        background-position: left bottom;
    }
     div.CarArticle{
        height: 1111px;
        background-image: url(../img/AddEditDeleteBanner425.jpg);
        background-position: left bottom;
    }
    div.proArt{
        background-size: 330px 100px;
        height: 111px;
        background-image: url(../img/proArt425.png);
        background-position: left bottom;
    }
   div.SnapArticle{
        height: 60px;
        background-image: url(../img/snapparcel400.png);
        background-position: left bottom;
    }
    div.ConArt{
         height: 111px;
        background-image: url(../img/proArt425.png);
        background-position: left bottom;
    }
    div.Contact{
        height: 141px;
        background-image: url(../img/contactus425.png);
        background-position: left bottom;
        padding-bottom: 10px;
    }
    div.delete{
        height: 111px;
        background-image: url(../img/AddEditDeleteBanner425.jpg);
        background-position: left bottom;
    }
      div.edit{
        height: 111px;
        background-image: url();
        background-position: left bottom;
    }
    div.editProfile{
         height: 191px;
        background-image: url(../img/EditProfileAd425.png);
        background-position: left bottom;
    }
     div.index{
         height: 91px;
         background-size: 200px 100px;
        background-image: url(../img/index4251.png);
        background-position: center bottom;
    }
    div.MadonMon{
        height: 91px;
        background-image: url(../img/MadiganOnMonday425.png);
        background-position: center bottom;
    }
    div.Munster{
       height: 191px;
        background-image: url(../img/journal_munster_banner_400.png);
        background-position: center bottom; 
    }
    div.searchResults{
        height: 191px;
        background-image: url(../img/journal_munster_banner_400.png);
        background-position: center bottom; 
    }
    div.SportsImg{
         height: 91px;
        background-image: url(../img/banner_new_sport_400.png);
        background-position: center bottom;
    }
    div.addad{
        height: 191px;
        background-image: url();
        background-position: center bottom; 
    }
    div.signin{
         height: 191px;
        background-image: url();
        background-position: center bottom; 
    }
    div.sign{
        height: 0;
        background-image: url();
        background-position: center bottom; 
    }
    div.sitemap{
        height: 0;
        background-image: url();
        background-position: center bottom;
    }
    div.searchbar{
        width:100%;
        float: right;
    }
     
    
    /*Nav */
    nav {
        position: static;
        width: auto;
        padding: 20px 15px;
        background-color:#39c4c6; 
    }
    nav ul, nav ul ul, nav ul ul ul{
        display: block;
        position: static;
    }
    nav > ul {
        padding: 0;
    }
    nav > ul > li{
        float: none;
        margin-top: 25px;
    }
    nav ul li:hover{
        background: none;
    }
    nav ul li a{
        display: block;
        margin:  8px 10px;
        padding: 8px 15px;
        border: 1px solid rgba(255,255,255,.25);
        width: auto;
        
    }
    nav ul li a:hover{
        background: rgba(255,255,255,.2);
    }
    
    nav ul ul{
        background: none;
    }
    nav ul ul li a{
        margin-left: 30px;
    }
    nav ul ul ul li a{
        margin-left: 60px;
    }
    nav a[aria-haspopup="true"]::after{
        display: none;
    }
    
    /*Footer*/
    
    footer div.content{
        display: block;
        margin-top: 15px;
    }
    footer div.content a{
        margin: 0 20px 0 0;
        
    }
}

